[Desktop Entry]
Version=1.0
Type=Application
Name=Perplexity AI
Comment=Open Perplexity AI in Google Chrome
Icon=/home/dgnsrekt/.local/share/icons/perplexity-0.png
Exec=google-chrome --new-window https://perplexity.ai
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true